{% extends 'base.html' %}

{% block title %}清华大学微信公众号备案平台{% endblock title %}

{% block subtitle %}
    <a class="navbar-brand fake-link-scroll">&gt;</a>
    <a class="navbar-brand fake-link-scroll">学生备案申请</a>
{% endblock subtitle %}

{% block user-menu %}
    <li>
        <i class="glyphicon glyphicon-info-sign"></i>　账号信息
    </a></li>
    <li role="separator" class="divider"></li>
    <li>
        <i class="glyphicon glyphicon-log-out"></i>　登出</a>
    </li>
{% endblock user-menu %}

{% block left-column %}
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#application-menu">
        <strong><i class="fa fa-wrench fa-fw"></i>　管理公众号申请</strong>
    </a>
    <hr>
    <ul class="nav nav-stacked collapse in" id="application-menu">
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="my-applications-item" class="left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link">
                    <i class="fa fa-briefcase fa-fw"></i>　我的备案申请
                    
                </a>
            </li>
            <li id="add-application-item" class="left-column-item"
                >
                <a class="fake-link"><i class="fa fa-plus-circle fa-fw"></i>　添加备案申请</a>
            </li>
            
        </ul>
    </ul>


{% endblock left-column %}

{% block main-page %}
    
{% endblock main-page %}
