{% extends 'base.html' %}

{% block title %}问卷填写 - 清华大学信息化统计平台{% endblock %}

{% block subtitle %}
    <a class="navbar-brand">&gt;</a>
    <a class="fake-link-scroll navbar-brand">问卷填写</a>
{% endblock subtitle %}

{% block itemtitle %} 
    问卷填写
{% endblock itemtitle %}

{% block scripts %}
    <script>
    </script>
{% endblock scripts %}

{% block left-column %}

{% endblock left-column %}

{% block user-menu %}

{% endblock user-menu %}

{% block main-page %}

{% endblock main-page %}

{% block modals %}
{% endblock modals %}
