<div class="top-row hidden-xs">

    <a>&nbsp</a>
    <a class="fake-link pull-right">
        <strong>统计信息　<i class="fa fa-bar-chart fa-fw"></i></strong>
    </a>
</div>
<hr class="hidden-xs">


<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#oa-chart" data-toggle="tab">数据分析</a>
    </li>
    <li role="presentation">
        <a href="#article-chart" data-toggle="tab">填写情况</a>
    </li>
    <li role="presentation">
        <a href="#history-chart" data-toggle="tab">单题信息</a>
    </li>
</ul>
<div class="tab-content" data-loading="true">
    <div id="oa-chart" class="tab-pane fade active in">
        <ol class="questions-list">
            <li class="question last-question">
                <p align="center"> 暂无题目 </p>
            </li>
        </ol>

        {% for qst in act_info.questions %}
        
            <script>
                
                pre_info_param = {
                    'questions_type': '{{qst.qst_type}}',
                    'questions_title': '{{qst.qst_title}}',
                    'questions_id': '{{qst.qst_id}}',
                }

                loadContentOn($(".last-question"), "{% url 'statistics/question' act_id%}", pre_info_param, {anim: false, scroll: false});
                $(".last-question").removeClass("last-question");
                $(".questions-list").append('<li class="question last-question">\
                                                \
                                             </li>');
            </script>
        
        {% endfor %}

    </div>
    <div id="article-chart" class="tab-pane fade">
        {% include 'legalUser/statistics/participants/participants_list.html' %}
        {% include 'legalUser/statistics/print_table.html' %}
    </div>
    <div id="history-chart" class="tab-pane fade">

    </div>
</div>



