{% extends 'common/sortable_content.html' %}

{% block no-data-info %}
    暂无任何活动
{% endblock no-data-info %}

{% block content %}
    {% for app in items %}
        <tr>
            <td>
                <a class="ajax-link fake-link" data-url="{% url 'test'%}">
                    {{ app.name}}
                </a>
            </td>
            <td>{{ app.identity }}</td>
            <td>{{ app.email}}</td>
            <td>{{ app.telephone_number }}</td>
            <td>{{ app.real_name }}</td>
            <td style="text-align: right">
                <a class="fake-link collapse-row" href="#app_all{{forloop.counter}}" >
                    <span class="fa fa-check-square-o fa-fw"></span> 操作
                </a>
            </td>
        </tr>
        <tr></tr>

        <tr class="collapse-row" >
            <td  colspan="10" style="display:none;" id="app_all{{forloop.counter}}_td">
                <div id="app_all{{forloop.counter}}" class="operation" style="display:none; width: 100%">
                    <ul>
                        <li style="width: 20%" align="center">
                            <a class="fake-link" href="#" >
                                <i class="fa fa-pencil-square-o fa-fw fa-2x" aria-hidden="true"></i>  查看信息
                            </a>
                        </li>
                        <li style="width: 20%" align="center">
                            <a class="fake-link" href="#" >
                                <i class="fa fa-phone-square fa-fw fa-2x" aria-hidden="true"></i> 发送站内信
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr></tr> <tr></tr>
    {% endfor %}

    <script>
    //处理折叠行
    $(function(){
        $("a.collapse-row").click(function(){
            var _this= $(this).attr("href");
            var _this_td = _this + "_td";
            if($(_this).css("display")=="none"){
                $(_this_td).slideDown("fast");
                $(_this).slideDown("fast");
            }else{
                $(_this_td).slideUp("fast");
                $(_this).slideUp("fast");
            }
            return false;
        });
    });
</script>

{% endblock content %}
