{% extends 'legalUser/design/questions/index.html' %}

{% block title%}
	<label for="fillin_field" id="fillin_title">请在此输入问题标题</label>
    <label id = "must_qst" style="color:red; display: none;">&nbsp;*</label>

    <div class="row" style="text-align: left; padding-left:25px; padding-top: 10px;">
        <div class="col-xs-12 form-group">
            <textarea id="fillin_field" name="fillin_content" class="form-control"
                      style="resize: vertical; width: 90%" rows="1"></textarea>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            var source_panel_body = $("#qst{{ questions_id }}");
            if('{{questions_title}}' != 'None')
                source_panel_body.find("#fillin_title").html('{{questions_title}}');
            if('{{rows}}' != 'None')
            	source_panel_body.find("#fillin_field").attr('rows', '{{rows}}');
            if('{{hint}}' != 'None')
            	source_panel_body.find("#fillin_field").attr('placeholder', '{{hint}}');

            //必答题星号
            if('{{qst_must}}' == 'true')
                source_panel_body.find("#must_qst").css("display", '');
         

            //加载选框样式
            $('input').iCheck({
              checkboxClass: 'icheckbox_flat-green',
              radioClass: 'iradio_flat-green',
              increaseArea: '20%'
            });
        });
    </script>
{% endblock title %}