{% extends 'base.html' %}

{% block title %}管理员界面 - 清华大学信息化统计平台{% endblock %}

{% block subtitle %}
    <a class="navbar-brand">&gt;</a>
    <a class="fake-link-scroll navbar-brand">管理员界面</a>
{% endblock subtitle %}

{% block itemtitle %}
    管理员界面
{% endblock itemtitle %}

{% block left-column %}
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#dashboard-menu">
        <strong><i class="fa fa-dashboard fa-fw"></i>　信息概览</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="dashboard-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="dashboard-item" class="nav-header left-column-item"
                data-url="{% url 'manager/dashboard' %}">
                <a class="fake-link"><i class="fa fa-dashboard fa-fw"></i>　信息概览</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#notice-menu">
        <strong><i class="fa fa-tasks fa-fw"></i>　发布公告</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="notice-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="all-applications-item" class="nav-header left-column-item"
                data-url="{% url 'manager/notice' %}">
                <a class="fake-link"><i class="fa fa-tasks fa-fw"></i>　发布公告</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#statictic-menu">
        <strong><i class="fa fa-signal fa-fw"></i>　数据统计</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="statistic-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="all-questionnaire-item" class="nav-header left-column-item"
                data-url="{% url 'manager/applications_activities' %}">
                <a class="fake-link" >
                    <i class="fa fa-th-list fa-fw"></i>　所有报名</a>
            </li>
            <li id="all-user-item" class="nav-header left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link" >
                    <i class="fa fa-users fa-fw"></i>　所有用户</a>
            </li>
        </ul>
    </ul>
    <hr>

{% endblock left-column %}

{% block user-menu %}
    <li>
        <a href="{% url 'manager' %}"> <i class="glyphicon glyphicon-log-in" id="back_main"></i>　返回主页</a>
        <a href="{% url 'legalUser/log_off' %}"> <i class="glyphicon glyphicon-log-out" id="main_log_agin" ></i>　注销</a>
    </li>
{% endblock user-menu %}

{% block main-page %}

{% endblock main-page %}

{% block modals %}
{% endblock modals %}