<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body style="width: 60%; text-indent:1em;">
    <h2 style="color: #2c3e50;">清华大学信息化统计平台 > 活动发布反馈</h2>
    <div><b>亲爱的{{ email }}:</b></div>
    <div style="text-indent:3em;" >您好！</div>
    <div style="text-indent:3em;" >欢迎您使用清华大学信息化统计平台的活动发布服务,您可以通过以下链接管理您发布的活动</div>
    <p style="text-indent:3em;">
        <a href={{ manage_url }}>{{ manage_url }}</a>
    </p>
    <div style="text-indent:3em;" >下面是您所发布的活动页面的链接，您可以通过各种方式将链接分享给活动的潜在参与者</div>
    <p style="text-indent:3em;">
        <a href={{ questionnaire_url }}>{{ questionnaire_url }}</a>
    </p>
    <p style="text-indent:3em; color: #666666">(如果您无法点击链接，请将它复制到浏览器地址栏后访问)</p>

    <p style="text-indent:3em;">来自清华大学信息化统计平台</p>
    <p style="text-indent:3em;">{{ date }}</p>
    <hr>
    <div style="text-indent:3em; font-size: 0.5em; color: #666666">
        (若您没有使用过清华大学信息化统计平台的活动发布服务，请忽略此邮件，可能是有人在发布活动时填错了自己的邮箱。此为系统邮件，请勿回复)
    </div>

</body>
</html>