{% extends 'common/sortable_content.html' %}

{% block no-data-info %}
    暂无任何活动
{% endblock no-data-info %}

{% block content %}
    {% for app in items %}
        <tr>
            <td style="color: #18bc9c">{{ app.name }}</td>
            <td>{{ app.subscribe_time }}</td>
            <td>{{ app.description|linebreaksbr|truncatechars:100}}</td>
            <td style="color: #18bc9c">{{ app.publisher }}</td>
            <td style="text-align: right">
                <a class="fake-link collapse-row" href="#app_all{{forloop.counter}}">
                    <span class="fa fa-check-square-o fa-fw"></span> 操作
                </a>
            </td>
        </tr>
        <tr></tr>

        <tr class="collapse-row" >
            <td  colspan="10" style="display:none;" id="app_all{{forloop.counter}}_td">
                <div id="app_all{{forloop.counter}}" class="operation" style="display:none; width: 100%">
                    <ul>
                        <li style="width: 30%" align="center">
                            <a class="fake-link" href="http://www.baidu.com" target =_blank >
                                <i class="fa fa-pencil-square-o fa-fw fa-2x" aria-hidden="true"></i>  查看活动
                            </a>
                        </li>
                        <li style="width: 30%" align="center">
                            <a class="fake-link" href="javascript:showModal('{% url 'manager/modal' %}', 'information-modal', {'modal_type': 'information', 'username': '{{ app.publisher }}',});">
                                <i class="fa fa-user fa-fw fa-2x" aria-hidden="true"></i> 查看发布者信息
                            </a>
                        </li>
                        <li style="width: 30%" align="center">
                            <a class="fake-link" href="javascript:showConfirmModal('删除活动', '确定要删除吗？', true)" >
                                <i class="fa fa-trash fa-fw fa-2x" aria-hidden="true"></i> 删除活动
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr></tr> <tr></tr>
    {% endfor %}

    <script>
    //处理折叠行
    $(function(){
        $("a.collapse-row").click(function(){
            var _this= $(this).attr("href");
            var _this_td = _this + "_td";
            if($(_this).css("display")=="none"){
                $(_this_td).slideDown("fast");
                $(_this).slideDown("fast");
            }else{
                $(_this_td).slideUp("fast");
                $(_this).slideUp("fast");
            }
            return false;
        });
    });
</script>

{% endblock content %}
