{% extends 'base.html' %}

{% block title %}用户后台 - 清华大学信息化统计平台{% endblock %}

{% block subtitle %}
    <a class="navbar-brand">&gt;</a>
    <a class="fake-link-scroll navbar-brand">活动发布</a>
{% endblock subtitle %}

{% block left-column %}
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#dashboard-menu">
        <strong><i class="fa fa-dashboard fa-fw"></i>　信息概览</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="dashboard-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="dashboard-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/dashboard' %}">
                <a class="fake-link"><i class="fa fa-dashboard fa-fw"></i>　信息概览</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#application-menu">
        <strong><i class="fa fa-wrench fa-fw"></i>　发布活动</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="application-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="pending-applications-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/applications' 'all' %}">
                <a class="fake-link"><i class="fa fa-tasks fa-fw"></i>　报名/统计表
                    <span class="badge badge-info pull-right" data-source="{% url 'test' %}"></span>
                </a>
            </li>
            <li id="processed-applications-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/dashboard' %}">
                <a class="fake-link"><i class="fa fa-check fa-fw"></i>　实验室招募</a>
            </li>
            <li id="all-applications-item" class="nav-header left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link"><i class="fa fa-list-alt fa-fw"></i>　投票</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#analyse-menu">
        <strong><i class="fa fa-signal fa-fw"></i>　分析统计</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="analyse-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="official-accounts-list-item" class="nav-header left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link"><i class="fa fa-th-list fa-fw"></i>　我的报名</a>
            </li>
            <li id="statistics-list-item" class="nav-header left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link"><i class="fa fa-bar-chart fa-fw"></i>　统计信息</a>
            </li>
            <li id="empty-item1" class="nav-header left-column-item">
                <a class="fake-link"></a>
            </li>
            <li id="empty-item2" class="nav-header left-column-item">
                <a class="fake-link"></a>
            </li>
        </ul>
    </ul>
    <hr>

{% endblock left-column %}

{% block main-page %}

{% endblock main-page %}

{% block modals %}
{% endblock modals %}
