{% extends 'base.html' %}

{% block title %}用户后台 - 清华大学信息化统计平台{% endblock %}

{% block subtitle %}
    <a class="navbar-brand">&gt;</a>
    <a class="fake-link-scroll navbar-brand">用户后台</a>
{% endblock subtitle %}

{% block itemtitle %} 
    用户后台
{% endblock itemtitle %}

{% block left-column %}
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#dashboard-menu">
        <strong><i class="fa fa-dashboard fa-fw"></i>　信息概览</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="dashboard-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="dashboard-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/dashboard' %}">
                <a class="fake-link"><i class="fa fa-dashboard fa-fw"></i>　信息概览</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#application-menu">
        <strong><i class="fa fa-wrench fa-fw"></i>　发布活动</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="application-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="enroll-design-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/design' 'enroll' %}">
                <a class="fake-link"><i class="fa fa-tasks fa-fw"></i>　报名/统计表</a>
            </li>
            <li id="recuit-design-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/design' 'recruit' %}">
                <a class="fake-link"><i class="fa fa-check fa-fw"></i>　实验室招募</a>
            </li>
            <li id="vote-design-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/design' 'vote' %}">
                <a class="fake-link"><i class="fa fa-list-alt fa-fw"></i>　投票</a>
            </li>
        </ul>
    </ul>
    <hr>
    <a class="fake-link left-column-menu" data-toggle="collapse" data-target="#analyse-menu">
        <strong><i class="fa fa-signal fa-fw"></i>　分析统计</strong>
    </a>
    <ul class="nav nav-stacked collapse in" id="analyse-menu">
        <hr>
        <ul class="nav nav-stacked collapse in nav-pills">
            <li id="all-applications-item" class="nav-header left-column-item"
                data-url="{% url 'legalUser/applications' 'all' %}">
                <a class="fake-link"><i class="fa fa-th-list fa-fw"></i>　我的报名
                    <span class="badge badge-info pull-right" data-source="{% url 'test' %}"></span>
                </a>
            </li>
            <li id="statistics-list-item" class="nav-header left-column-item"
                data-url="{% url 'test' %}">
                <a class="fake-link"><i class="fa fa-bar-chart fa-fw"></i>　统计信息</a>
            </li>
            <li id="empty-item1" class="nav-header left-column-item">
                <a class="fake-link"></a>
            </li>
            
        </ul>
    </ul>
    <hr>

{% endblock left-column %}

{% block user-menu %}
    <li>
        <a href="{% url 'legalUser/information' %}"> <i class="glyphicon glyphicon-info-sign" id="main_user_info"></i>　用户信息</a>
        <a href="{% url 'legalUser/login' %}"> <i class="glyphicon glyphicon-log-out" id="main_log_agin" ></i>　注销</a>
    </li>
{% endblock user-menu %}

{% block main-page %}

{% endblock main-page %}

{% block modals %}
{% endblock modals %}
