{% extends 'questionnaire/publish_qst/index.html' %}

{% block title%}

        <label for="fillin_field" id="fillin_title" class="control-label">请在此输入问题标题</label>
        <label id = "must_qst" style="color:red; display: none;">&nbsp;*</label>

        <div class="row" style="text-align: left; padding-left:25px; padding-top: 10px;">
                <input id="fillin_field" name="qst{{ questions_id }}" class="form-control"
                      style="resize: vertical; width: 60%" rows="1" >
        </div>

    <script >

        //alert("0");
        $(document).ready(function(){
          //  alert("1");
            var source_panel_body = $("#qst{{ questions_id }}");
            if('{{questions_title}}' != 'None')
                source_panel_body.find("#fillin_title").html('{{questions_title}}');
            if('{{rows}}' != 'None')
            	source_panel_body.find("#fillin_field").attr('rows', '{{rows}}');
            if('{{hint}}' != 'None')
            	source_panel_body.find("#fillin_field").attr('placeholder', '{{hint}}');
            //必答题星号
            if('{{qst_must}}' == 'true'){
                source_panel_body.find("#must_qst").css("display", '');
                source_panel_body.find("#fillin_field").attr("required",'');
            }
            if('{{ fillin_check }}'!=''){
                var fill_type = '{{ fillin_check }}';
                if(fill_type=='邮箱')
                    source_panel_body.find("#fillin_field").attr("type",'email');
                if(fill_type=='数字')
                    source_panel_body.find("#fillin_field").attr("type",'number');
                if(fill_type=='手机') {
                    source_panel_body.find("#fillin_field").attr("type", 'tel');
                    source_panel_body.find("#fillin_field").attr("type", 'tel');
                }
            }

//            alert("3");
            //加载选框样式
            $('input').iCheck({
              checkboxClass: 'icheckbox_flat-green',
              radioClass: 'iradio_flat-green',
              increaseArea: '20%'
            });
  //          alert("4");
            //判断是否是已填写的问卷
            if('{{ result }}' != '') {
                source_panel_body.find("#fillin_field").html('{{ result }}');
            }
        });



    </script>
{% endblock title %}