
<div class="panel panel-default hover_question" id="qst{{ questions_id }}">
    <div class="panel-body" align="left",>
    	<div>
            <strong id="rank" >  </strong>&nbsp;
            {% block title%}
            {% endblock title %}
    	</div>
    </div> 
    <form class="form form-vertical" role="form" data-toggle="validator">
    	<input name="questions_type" type="text" style="display: none;" value="">
        <input name="questions_id" type="text" style="display: none;" value="">
    </form>                              
</div>

<script>


	//重新加载标号
	reloadRank = function(){
		$("ol.questions-list li").find(".hover_question").each(function() {
    		var _index = $(this).parent().index() + 1;
    		var _rank = $(this).find(".panel-body").find("#rank");
    		displayContent(_index + ". ", {'anim': false, 'scroll': false}, _rank);

    	})
	}

	//点击各操作向后台发送消息
	function operation_qst(obj, operation)
    {
        var onthis = $(obj).parent().parent().parent().parent();
        var questions_id = onthis.find("input[name=questions_id]").attr('value');
        $.ajax({
            type: "GET",
            url: "{% url 'api/operation_qst' %}",
            data: "&act_id=" + "{{act_id}}" + "&qst_id=" + questions_id + "&operation=" + operation,
            success: function(data) {


            },
            error: function (xhr, textStatus, errorThrown) {
                alert(xhr.responseText.substr(0, 500));
            }
        });
    }

	//对于每一个问题添加事件
    $("ol.questions-list li").find(".hover_question").each(function() {
    
    	//标号
    	var index = $(this).parent().index() + 1;
    	//显示标号的容器
    	var rank = $(this).find(".panel-body").find("#rank");

    	//鼠标悬停事件
        $(this).find(".panel-body").hover(
            function(){
                var $panel = $(this).parent();
                $panel.removeClass("panel-default");
                $panel.addClass("panel-success");
                $(this).find(".question-collapse").slideDown("fast");
            },
            function(){
                var $panel = $(this).parent();
                $panel.removeClass("panel-success");
                $panel.addClass("panel-default");
                $(this).find(".question-collapse").slideUp("fast");
        })

        //给这个题目的页面隐藏表单赋值题目类型和id，防止之后添加题目变量被渲染改变
        if($(this).find("input[name=questions_type]").attr('value') == "")
            $(this).find("input[name=questions_type]").attr('value', '{{ questions_type }}');
        if($(this).find("input[name=questions_id]").attr('value') == "")
            $(this).find("input[name=questions_id]").attr('value', '{{ questions_id }}');

        displayContent(index + ". ", {'anim': false, 'scroll': false}, rank);
    })
    
</script>
