{% extends 'common/sortable.html' %}

{% block title %}{% endblock title %}

{% block defaults %}
    url: "{% url 'test' %}",
    sort_by: "id",
    sort_order: "asc",
    search_field: "id"
{% endblock defaults %}

{% block head %}
    <th class="th-sortable" data-key="name" style="width: 15%; min-width: 120px">
        活动名称
    </th>
    <th class="th-sortable" data-key="subscribe_time" style="width: 15%; min-width: 110px">
        上次修改
    </th>
    <th class="th-sortable" data-key="description" style="width: 10000px">
        活动说明
    </th>
    <th class="th-sortable" data-key="status" style="min-width: 120px">
        活动状态
    </th>
    <th>
        <div style="width: 60px"></div>
    </th>
{% endblock head %}