<div class="modal fade" id="mark-modal" tabindex="-1" role="dialog" aria-labelledby="mark-modal">
	<div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改招募题内容</h4>
            </div>


            <div class="modal-footer">

                    <form id="mark-form" class="form form-vertical" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <input name="status" value="none" type="text" style="display: none;">
                        <input name="questions_id" type="text" style="display: none;" value="{{id}}">
                        <input name="qst_type" type="text" style="display: none;" value="{{qst_type}}">
                        <input name="option_num" type="text" style="display: none;" value="">


                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="mark_title_field">标题</label>
                                <br>
                                <div class="col-xs-9">
                                    <input id="mark_title_field" name="qst_title" class="form-control"
                                              style="resize: vertical;">
                                </div>
                                <div class="col-xs-3" style="margin-top: 5px;">
                                    <label>
                                    <input type="checkbox" name="must" id="must_field" value="true">
                                        <label for="this.prev();">必答题</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="option_list">
                            <div>
                                <div class="row option" style="text-align: left;">
                                    <div class="col-xs-9 form-group">
                                        <label class="control-label pull-left" >选项</label>
                                        <a class="fake-link pull-left" href="#" onclick="return Add(this);">
                                            &emsp;<span class="fa fa-plus-circle fa-fw"></span> 在下面添加&emsp;
                                        </a>
                                        <a class="fake-link pull-left" href="#" onclick="return Remove(this);">
                                            <span class="fa fa-minus-circle fa-fw"></span> 删除&emsp;
                                        </a>
                                        <input id="option1_field" name="title" class="form-control"
                                                      style="resize: vertical;">
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <label class="control-label pull-left" >人数上限</label>
                                        
                                        <input id="option1_maxium" name="option1_maxium" class="form-control"
                                                      style="resize: vertical; width: 80%;" type="number"> 
                                    </div>
                                </div>
                                <br>
                            </div>

                        </div>
                        <hr>
                        <div class="row" style="text-align: center;">
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >最少选择</label>
                                
                                <input id="min_selected" name="min_selected" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="请输入数字" type="number">
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >最多选择</label>
                                
                                <input id="max_selected" name="max_selected" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="请输入数字" type="number">
                            </div>
                        </div>
                        <div id="submit-button-field">
                            <button type="submit" class="btn btn-primary form-btn">
                                完成
                            </button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>

<script>

	var modal = $("#mark-modal");

    var status_input = modal.find("input[name=status]");
    var submit_button = modal.find("#submit-button-field");
    var title_field = modal.find("#mark_title_field")
    var option_field1 = modal.find("#option1_field");
    var must_option = modal.find("#must_field");
    var min_selected = modal.find("#min_selected");
    var max_selected = modal.find("#max_selected");

    //重新加载每个选项输入框的id和name，方便之后表单serilize
    function reloadID() {
        var num = $(".option").parent().size();
        modal.find("input[name=option_num]").val(num);
        $("form#mark-form").find(".option").each(function() {
            var input_field = $(this).find(".form-control").first();
            var rank = $(this).parent().index() + 1;
            var id = 'option' + rank + '_field';

            var input_maxium = $(this).find(".form-control").last();
            var maxium_id = 'option' + rank + '_maxium';
            input_field.attr('name', id);
            input_field.attr('id', id);
            input_maxium.attr('name', maxium_id);
            input_maxium.attr('id', maxium_id);
        })
    }

    //在指定问题后面添加一个问题
    function Add(obj) {
        var this_option = $(obj).parent().parent().parent();
        this_option.after('<div>\
                                <div class="row option" style="text-align: left;">\
                                    <div class="col-xs-9 form-group">\
                                        <label class="control-label pull-left" >选项</label>\
                                        <a class="fake-link pull-left" href="#" onclick="return Add(this);">\
                                            &emsp;<span class="fa fa-plus-circle fa-fw"></span> 在下面添加&emsp;\
                                        </a>\
                                        <a class="fake-link pull-left" href="#" onclick="return Remove(this);">\
                                            <span class="fa fa-minus-circle fa-fw"></span> 删除&emsp;\
                                        </a>\
                                        <input name="title" class="form-control"\
                                                      style="resize: vertical;">\
                                    </div>\
                                    <div class="col-xs-3 form-group">\
                                        <label class="control-label pull-left" >人数上限</label>\
                                        <input id="option1_maxium" name="option1_maxium" class="form-control"\
                                                      style="resize: vertical; width: 80%;" type="number">\
                                    </div>\
                                </div>\
                                <br>\
                            </div>');
        reloadID();
    }

    //删除指定问题
    function Remove(obj) {
        var this_option = $(obj).parent().parent().parent();
        if($(".option").parent().size() == 1)
            showConfirmModal("提示", "至少要保留一个选项", true);
        else {
            this_option.remove();
            reloadID();
        }
    }

    //根据输入的内容改变原网页上对应题目的内容，方法是先把原来的全删掉，再重新一个一个加入
    function modify_page() {
        //这个一定要有，找到是从哪个题目点进来的
        var source_panel_body = $("#qst{{ id }}");
        var option_size = $(".option").parent().size();

        //全删除
        source_panel_body.find(".row_option").each(function() {
            $(this).remove();
        });

        //题目
        source_panel_body.find("#mark_title").html(title_field.val());
        var option_name = 'option' + '{{ id }}';
        var prefix = '<tr class="row_option">';
        //一个一个加选项
        for(i = 1; i <= option_size; i ++) {
            var option_field = modal.find("#option" + i + "_field").val();
            var radio_id = "optionsCheckbox" + i;
            var radio_value = "option" + i;

            var option_maxium = modal.find("#option" + i + "_maxium").val();
            
            var to_append = prefix + '<td>' + i + '</td>\
            						  <td>' + option_field + '</td>\
            						  <td>' + option_maxium + '</td>\
            						  <td>' + option_maxium + '</td>\
            						  <td><input type="checkbox" name=' + option_name + ' id=' + radio_id + ' value=' + radio_value + '></td>\
            						  </tr>';
       
            source_panel_body.find("#checkbox-list").append(to_append);
        }

        //必答题设置星号
        var must_field = source_panel_body.find("#must_qst");
        if(modal.find("#must_field").is(':checked'))
            must_field.css("display", '');
        else
            must_field.css("display", "none");

        //设置选择提示
        var select_hint = source_panel_body.find("#select_hint");
        if(min_selected.val() == '') {
            if(max_selected.val() != '')
                select_hint.html("&nbsp;[最多选择" + max_selected.val() + "项]");
        }
        else {
            if(max_selected.val() != '')
                select_hint.html("&nbsp;[请选择" + min_selected.val() + " - " + max_selected.val() + "项]");
            else
                select_hint.html("&nbsp;[至少选择" + min_selected.val() + "项]")
        }

        //重新加载选框样式
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green',
          increaseArea: '20%'
        });
    }

    modal.ready(function () {
        reloadID();
        var source_panel_body = $("#qst{{ id }}");
        title_field.val(source_panel_body.find("#mark_title").text().trim());
        option_field1.val(source_panel_body.find("#optionsCheckbox1").parent().parent().prev().prev().prev().html().trim());
        //设置第一个选项的限制人数
        var option1_maxium = source_panel_body.find("#optionsCheckbox1").parent().parent().prev();
        if(option1_maxium.length != 0) {
            modal.find("#option1_maxium").val(option1_maxium.html().trim());
        }
	
        //必答题设置
        var must_field = source_panel_body.find("#must_qst");
        if(must_field.css("display") != 'none')
            must_option.attr("checked",'checked');
	
        //设置选择提示
        var select_hint = source_panel_body.find("#select_hint");
        if(select_hint.html() != '') {
            var reg = /\d+/g;
            var ms = select_hint.html().match(reg);
            if(select_hint.html().indexOf('-') > -1) {
                min_selected.val(ms[0]);
                max_selected.val(ms[1]);
            }
            else if(select_hint.html().indexOf('多') > -1) 
                max_selected.val(ms[0]);
            else
                min_selected.val(ms[0]);
        }

        //将现有题目的选项内容放到文本框中
        var size = source_panel_body.find(".row_option").size();
        for(i = 2; i <= size; i ++) {
            var current_rank = i - 1;
            var current_id = '#option' + current_rank + '_field';
            Add($(current_id));
            modal.find("#option" + i + "_field").val(source_panel_body.find("#optionsCheckbox" + i).parent().parent().prev().prev().prev().html().trim());

            //设置选项限制人数
            var maxium_field = source_panel_body.find("#optionsCheckbox" + i).parent().parent().prev();
            if(maxium_field.length != 0) {
                var content = maxium_field.html().trim();
                modal.find("#option" + i + "_maxium").val(parseInt(content));
            }
        }

        handleFormPost("#mark-form", "{% url 'api/modify_qst' %}", {
            success_callback: function (data) {
                if (data['status'] === 'ok') {
                    modify_page();
                    modal.modal('hide');
                }
            }
        });

		//重新加载选框样式
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green',
          increaseArea: '20%'
        });

    });
</script>

