<div class="modal fade" id="publish-modal" tabindex="-1" role="dialog" aria-labelledby="publish-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布活动</h4>
            </div>


            <div class="modal-footer">

                    <form id="create-activity-form" class="form form-vertical" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <input name="status" value="none" type="text" style="display: none;">
                        <input name="act_id" type="text" style="display: none;" value="{{id}}">

                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="publish_url">问卷链接</label>
                                <br>
                                <div class="col-xs-8" >
                                    <input id="publish_url" name="title" class="form-control" style="resize: vertical;">
                                </div>

                                <div class="col-xs-1" style="text-align: center;">
                                    <button type="button" class="btn btn-default" id="copyBtn">
                                        <div>复制</div>
                                    </button>
                                </div>
                        
                                <div class="col-xs-3" style="text-align: center;">
                                    &emsp;
                                    <a href="{% url 'questionnaire' id %}" target="_blank">
                                        <button type="button" class="btn btn-primary"> 
                                            查看问卷
                                        </button>
                                    </a>
                                </div>
                            </div>
                        
                        </div>
                        <br>
                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="publish_url">后台管理链接</label>
                                <br>
                                <div class="col-xs-8" >
                                    <input id="management_url" name="title" class="form-control" style="resize: vertical;">
                                </div>

                                <div class="col-xs-1" style="text-align: center;">
                                    <button type="button" class="btn btn-default" id="copyBtn_manage">
                                        <div>复制</div>
                                    </button>
                                </div>

                                <div class="col-xs-3" style="text-align: center;">
                                    &emsp;
                                    <a href="{% url 'guest/statistics/id' id %}" target="_blank">
                                        <button type="button" class="btn btn-primary"> 
                                            前往后台
                                        </button>
                                    </a>
                                </div>
                        
                            </div>
                        
                        </div>

                        <hr>
                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12">
                                <label class="control-label">问卷二维码</label>

                            </div>
                            
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-xs-12 ">
                                <div class="panel-body">
                                    <div id="qrcode"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_btn">
                                完成
                            </button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>

<script>
    var modal = $("#publish-modal");

    var url_field = modal.find("#publish_url");
    var manage_field = modal.find("#management_url");


    var copyBtn = $('#copyBtn');
    $(copyBtn).click(function(){
        $(url_field).select();
        document.execCommand('Copy');
        showConfirmModal("提示", "已复制到剪贴板", true);
    })
    
    var copyBtn_manage = $('#copyBtn_manage');
    $(copyBtn_manage).click(function () {
        $(manage_field).select();
        document.execCommand('Copy');
        showConfirmModal("提示", "已复制到剪贴板", true);
    })

    modal.ready(function () {

        var questionnaire_url = "http://52.187.34.62:8000" + "{% url 'questionnaire' id %}";
        var management_url = "http://52.187.34.62:8000" + "{% url 'guest/statistics/id' id %}";
        url_field.val(questionnaire_url); 
        manage_field.val(management_url);
        $('#qrcode').qrcode(questionnaire_url);

        $("#confirm_btn").click(function () {
            loadContentOfItem('#dashboard-item', {anim: false, scroll: false});
        })


    });
</script>

