<div class="modal fade" id="activity-modal" tabindex="-1" role="dialog" aria-labelledby="activity-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改问卷名称和说明</h4>
            </div>
            

            <div class="modal-footer">

                    <form id="create-activity-form" class="form form-vertical" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <input name="status" value="none" type="text" style="display: none;">
                        <input name="id" type="text" style="display: none;" value="">

                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="activity_title">问卷名称</label>
                                <input id="activity_title" name="title" class="form-control"
                                              style="resize: vertical;"></input>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="activity_description">问卷说明</label>
                                <textarea id="activity_description" name="description" class="form-control"
                                          style="resize: vertical;"></textarea>
                            </div>
                        </div>
                        <div id="submit-button-field">
                            <button type="submit" class="btn btn-primary form-btn">
                                完成
                            </button>
                        </div>
                    </form>
                    
            </div>
        </div>
    </div>

    <script>
        var modal = $("#activity-modal");

        var status_input = modal.find("input[name=status]");
        var submit_button = modal.find("#submit-button-field");
        var title_field = modal.find("#activity_title")
        var description_field = modal.find("#activity_description");

        
        modal.ready(function () {
    
            title_field.val($("#qst_title").text().trim());
            description_field.val($("#qst_description").text().trim());

            handleFormPost("#create-activity-form", "{% url 'api/modify_something' 'qst_name'%}", {
                success_callback: function (data) {
                    if (data === 'ok') {
                        $("#qst_title").html(title_field.val());
                        $("#qst_description").html(description_field.val());

                        modal.modal('hide');
                        
                    }
                }
            });
            
        });
    </script>

