{% load staticfiles %}

<div class="modal fade" id="vote-modal" tabindex="-1" role="dialog" aria-labelledby="vote-modal">
	<div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改投票题内容</h4>
            </div>


            <div class="modal-footer">

                    <form id="vote-form" class="form form-vertical" role="form" data-toggle="validator" enctype ="multipart/form-data">
                        {% csrf_token %}
                        <input name="status" value="none" type="text" style="display: none;">
                        <input name="questions_id" type="text" style="display: none;" value="{{id}}">
                        <input name="qst_type" type="text" style="display: none;" value="{{qst_type}}">
                        <input name="option_num" type="text" style="display: none;" value="">


                        <div class="row" style="text-align: left;">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" for="vote_title_field">标题</label>
                                <br>
                                <div class="col-xs-9">
                                    <input id="vote_title_field" name="qst_title" class="form-control"
                                              style="resize: vertical;">
                                </div>
                                <div class="col-xs-3" style="margin-top: 5px;">
                                    <label>
                                    <input type="checkbox" name="must" id="must_field" value="true">
                                        <label for="this.prev();">必答题</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="option_list">
                            <div>
                                <div class="row option" style="text-align: left;">
                                    <div class="col-xs-9 form-group">
                                        <label class="control-label pull-left" >选项</label>
                                        <a class="fake-link pull-left" href="#" onclick="return Add(this);">
                                            &emsp;<span class="fa fa-plus-circle fa-fw"></span> 在下面添加&emsp;
                                        </a>
                                        <a class="fake-link pull-left" href="#" onclick="return Remove(this);">
                                            <span class="fa fa-minus-circle fa-fw"></span> 删除&emsp;
                                        </a>
                                        <input id="option1_field" name="title" class="form-control"
                                                      style="resize: vertical;">
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <label class="control-label pull-left">&nbsp;<span class="fa fa-photo fa-fw"></span>&nbsp;添加图片</label>

                                        <input type="file" name="option1_img" id="option1_img" class="form-control fake-link"
                                               style="opacity: 0; z-index: 10; position: absolute;"
                                               accept="image/*" onchange="display_name(this);">
                                        
                                        <input class="form-control" disabled="disable">
                                    </div>
                                </div>
                                <br>
                            </div>

                        </div>
                        <hr>
                        <div class="row" style="text-align: center;">
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >最少选择</label>
                                
                                <input id="min_selected" name="min_selected" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="请输入数字" type="number">
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >最多选择</label>
                                
                                <input id="max_selected" name="max_selected" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="请输入数字" type="number">
                            </div>
                        </div>
                        <br>
                        <div class="row" style="text-align: center;">
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >每个ip投票次数</label>
                                
                                <input id="ip_times" name="ip_times" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="默认无次数限制" type="number">
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label pull-left" >每天投票次数</label>
                                <input id="day_times" name="day_times" class="form-control"
                                              style="resize: vertical; width: 80%;" placeholder="默认无次数限制" type="number">
                                
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="text-align: center;">
                            <div class="col-xs-4 form-group">
                                <label>
                                <input type="checkbox" name="display_vote" id="display_vote" value="true">
                                    <label for="this.prev();">问卷中显示选项票数</label>
                                </label>
                            </div>
                        </div>
                        <div id="submit-button-field">
                            <button type="submit" class="btn btn-primary form-btn" onclick="doUpload();">
                                完成
                            </button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>

<script>

	var modal = $("#vote-modal");

    var status_input = modal.find("input[name=status]");
    var submit_button = modal.find("#submit-button-field");
    var title_field = modal.find("#vote_title_field")
    var option_field1 = modal.find("#option1_field");
    var must_option = modal.find("#must_field");
    var min_selected = modal.find("#min_selected");
    var max_selected = modal.find("#max_selected");
    var display_vote = modal.find("#display_vote");
    var ip_times = modal.find("#ip_times");
    var day_times = modal.find("#day_times");

    //重新加载每个选项输入框的id和name，方便之后表单serilize
    function reloadID() {
        var num = $(".option").parent().size();
        modal.find("input[name=option_num]").val(num);
        $("form#vote-form").find(".option").each(function() {
            var input_field = $(this).find(".form-control").first();
            var rank = $(this).parent().index() + 1;
            var id = 'option' + rank + '_field';

            input_field.attr('name', id);
            input_field.attr('id', id);

            var img_field = $(this).find("input[type=file]");
            var img_name = 'option' + rank + '_img';
            img_field.attr('name', img_name);
            img_field.attr('id', img_name);
        })
    }

    //在指定问题后面添加一个问题
    function Add(obj) {
        var this_option = $(obj).parent().parent().parent();
        this_option.after('<div>\
                                <div class="row option" style="text-align: left;">\
                                    <div class="col-xs-9 form-group">\
                                        <label class="control-label pull-left" >选项</label>\
                                        <a class="fake-link pull-left" href="#" onclick="return Add(this);">\
                                            &emsp;<span class="fa fa-plus-circle fa-fw"></span> 在下面添加&emsp;\
                                        </a>\
                                        <a class="fake-link pull-left" href="#" onclick="return Remove(this);">\
                                            <span class="fa fa-minus-circle fa-fw"></span> 删除&emsp;\
                                        </a>\
                                        <input name="title" class="form-control"\
                                                      style="resize: vertical;">\
                                    </div>\
                                    <div class="col-xs-3 form-group">\
                                        <label class="control-label pull-left">&nbsp;<span class="fa fa-photo fa-fw"></span>&nbsp;添加图片</label>\
                                        <input type="file" name="option1_img" class="form-control fake-link"\
                                               style="opacity: 0; z-index: 10; position: absolute;"\
                                               accept="image/*" onchange="display_name(this);">\
                                        <input class="form-control" disabled="disable">\
                                    </div>\
                                </div>\
                                <br>\
                            </div>');
        reloadID();
    }

    //删除指定问题
    function Remove(obj) {
        var this_option = $(obj).parent().parent().parent();
        if($(".option").parent().size() == 1)
            showConfirmModal("提示", "至少要保留一个选项", true);
        else {
            this_option.remove();
            reloadID();
        }
    }

    //根据输入的内容改变原网页上对应题目的内容，方法是先把原来的全删掉，再重新一个一个加入
    function modify_page() {
        //这个一定要有，找到是从哪个题目点进来的
        var source_panel_body = $("#qst{{ id }}");
        var option_size = $(".option").parent().size();

        //全删除
        source_panel_body.find(".row_option").each(function() {
            $(this).remove();
        });

        //设置是否显示投票
        if(display_vote.is(':checked'))
            source_panel_body.find("#display_signal").html('true');
        else
            source_panel_body.find("#display_signal").html('');

        //设置投票次数限制
        source_panel_body.find("#ip_signal").html(ip_times.val());
        source_panel_body.find("#day_signal").html(day_times.val());


        //题目
        source_panel_body.find("#vote_title").html(title_field.val());
        var option_name = 'option' + '{{ id }}';
        var prefix = '<tr class="row_option">';
        //一个一个加选项
        for(i = 1; i <= option_size; i ++) {
            var option_field = modal.find("#option" + i + "_field").val();
            var radio_id = "optionsCheckbox" + i;
            var radio_value = "option" + i;
            var vote_num = display_vote.is(':checked')? '0票&emsp;( 0% )' : '';

            var img_field = modal.find("#option" + i + "_img").val();
            var img_src = '';
            var img = "";
            if(img_field != '') {
                var src = "questionsImg/qst" + '{{ id }}' + "_option" + i;
                img_src = '{% static src %}' + src;
                img = "<img src=" + img_src +  " class='img-responsive center-block'/>"
            }
            
            var to_append = prefix + '<td><input type="checkbox" name=' + option_name + 
                                          ' id=' + radio_id + ' value=' + radio_value + '></td>\
                                      <td>' + option_field + '</td>\
                                      <td>' + img + '</td>\
                                      <td>' + '</td>\
                                      <td>' + vote_num + '</td>\
                                      </tr>';
       
            source_panel_body.find("#checkbox-list").append(to_append);
        }

        //必答题设置星号
        var must_field = source_panel_body.find("#must_qst");
        if(modal.find("#must_field").is(':checked'))
            must_field.css("display", '');
        else
            must_field.css("display", "none");

        //设置选择提示
        var select_hint = source_panel_body.find("#select_hint");
        if(min_selected.val() == '') {
            if(max_selected.val() != '')
                select_hint.html("&nbsp;[最多选择" + max_selected.val() + "项]");
        }
        else {
            if(max_selected.val() != '')
                select_hint.html("&nbsp;[请选择" + min_selected.val() + " - " + max_selected.val() + "项]");
            else
                select_hint.html("&nbsp;[至少选择" + min_selected.val() + "项]")
        }

        //重新加载选框样式
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green',
          increaseArea: '20%'
        });
    }

    function doUpload() {
        var formData = new FormData($( "#vote-form" )[0]);
        $.ajax({
            url: "{% url 'api/modify_qst' %}" ,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data['status'] === 'ok') {
                    modify_page();
                    modal.modal('hide');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(xhr.responseText.substr(0, 2000000));
            }
        });
    }

    function display_name(obj) {
        var fileName = $(obj).val().split('\\').pop();
        $(obj).next().val(fileName);
    }

    modal.ready(function () {
        var source_panel_body = $("#qst{{ id }}");
        title_field.val(source_panel_body.find("#vote_title").text().trim());
        option_field1.val(source_panel_body.find("#optionsCheckbox1").parent().parent().next().html().trim());
	
        //必答题设置
        var must_field = source_panel_body.find("#must_qst");
        if(must_field.css("display") != 'none')
            must_option.attr("checked",'checked');

        //是否显示票数设置
        var display_signal = source_panel_body.find("#display_signal");
        if(display_signal.html().trim() == 'true')
            display_vote.attr("checked", 'checked');

        //设置投票次数限制
        ip_times.val(source_panel_body.find("#ip_signal").html());
        day_times.val(source_panel_body.find("#day_signal").html());
	
        //设置选择提示
        var select_hint = source_panel_body.find("#select_hint");
        if(select_hint.html() != '') {
            var reg = /\d+/g;
            var ms = select_hint.html().match(reg);
            if(select_hint.html().indexOf('-') > -1) {
                min_selected.val(ms[0]);
                max_selected.val(ms[1]);
            }
            else if(select_hint.html().indexOf('多') > -1) 
                max_selected.val(ms[0]);
            else
                min_selected.val(ms[0]);
        }

        //将现有题目的选项内容放到文本框中
        var size = source_panel_body.find(".row_option").size();
        for(i = 2; i <= size; i ++) {
            var current_rank = i - 1;
            var current_id = '#option' + current_rank + '_field';
            Add($(current_id));
            modal.find("#option" + i + "_field").val(source_panel_body.find("#optionsCheckbox" + i).parent().parent().next().html().trim());

        }

		//重新加载选框样式
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green',
          increaseArea: '20%'
        });

    });
</script>

