
<script>
    

    $(".right-column").ready(function () {
        var $this = $(".right-column");

        var questions_params = {
            'questions_type': "default",
            'questions_id': -1
        };

        function createNewQst(qst_type) {
            var rank = $(".last-question").index() + 1;
            $.ajax({
                type: "GET",
                url: "{% url 'api/create_new_qst' %}",
                data: "&act_id=" + "{{act_id}}" + "&qst_type=" + qst_type + "&qst_rank=" + rank,
                success: function(data) {
                    if(data['status'] == 'ok'){
                        questions_params['questions_id'] = data['id'];
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseText.substr(0, 500));
                }
            });
        }

        //设置保存和发布按钮点击事件
        $this.find("#save_btn").click(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'api/save_act' %}",
                data: "&act_id=" + "{{act_id}}",
                success: function(data) {
                    if(data['status'] == 'ok') {
                        showConfirmModal("提示", "保存成功！", true);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseText.substr(0, 500));
                }
            });
        })
        $this.find("#publish_btn").click(function() {
            var publish_callback = function() {
                $.ajax({
                    type: "GET",
                    url: "{% url 'api/publish_act' %}",
                    data: "&act_id=" + "{{act_id}}",
                    success: function(data) {
                        showModal("{% url 'legalUser/modal' 'publish' act_id %}", 'publish-modal');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(xhr.responseText.substr(0, 500));
                    }
                });
            }

            showConfirmModal("提示", "确定要发布吗？", false, publish_callback);
        })


    })


</script>


<div class="top-row hidden-xs">
    <a>&nbsp;</a>
    <a class="fake-link pull-right">
        <strong>{{ design_type }}　<i class="fa {{ design_icon }} fa-fw"></i></strong>
    </a>
</div>
<hr class="hidden-xs">

<div class="row">
    <div class="col-md-10">
        {% include 'manager/design/design_list.html' %}
    </div>
</div>